main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main > .container {
    margin: 5rem 0;
} 

main > .container > #banner {
    width: 100%;
    margin-bottom: 4rem;
} 