/* Colour vars */
:root {
  --deepblue: #2f57cd;
  --lightblue: royalblue;
  --orange: tomato;
  --green: limegreen;
  --pink: violet;
  --purple: blueviolet;
}

html, body { margin: 0; width: 100%; height: 100%; font-family: helvetica arial, sans-serif; background-color: whitesmoke; display: flex; flex-direction: column; }
h1 { color: var(--deepblue); font-weight: 400; }
h2, h3, h4 { color: var(--orange); font-weight: 400; }
p { color: var(--lightblue); font-weight: 300; font-size: 1.1rem; line-height: 1.4rem; }
a { color: var(--pink); }
header { margin: 1rem; }
footer { padding: 1rem; background-color: white; }
.bg-secondary { background-color: white; }
.tomato { color: var(--orange); }
.pink { color: var(--pink); }
.royalblue { color: var(--deepblue); }
.didot { font-family: Didot, serif; }
.bold { font-weight: 600; }

/* General classes */
.fullscreen { position: absolute; top: 0; left: 0; min-height: 100vh; min-width: 100vw; }
.full-width: { min-width: 100vw; }
.full-height: { min-height: 100vh; }
.container { margin: auto; margin: auto; padding: 1rem; max-width: 950px; }
.column { display: flex; flex-direction: column; }
.row { display: flex; }
.align-center { align-items: center; }
.justify-center { justify-content: center; }
.justify-between { justify-content: space-between; }
.modal { position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: white; border-radius: 1rem; padding: 1rem; z-index: 5; width: 60%; max-width: 80%; max-height: 80%; overflow: scroll; box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); }
.modal-close { align-self: flex-end; height: 2rem; cursor: pointer; }
.link { border: none; background-color: none; color: var(--pink); cursor: pointer; }
.header-logo { height: 5rem; width: 5rem; transition: all 0.5s ease-out; }
.align-self-center { align-self: center; }
.circle { border-radius: 50% }
.icon { width: 2rem; height: 2rem; margin: 1rem 0.5rem; color: var(--deepblue); }
.text-icon { font-size: 2rem; display: flex; align-items: center; padding-top: 3px; }
.text-center { text-align: center; }
.no-display { display: none; }

/* Nav Cube stuffs */
#nav-cube-shortcuts { user-select: none; width: 100%; height: 0px; display: flex; flex-wrap: wrap; justify-content: space-around; }
.shortcut { height: 100px; width: 100px; position: relative; margin: 1rem; }
#nav-cube { user-select: none; width: 100%; height: 100%; max-width: 16rem; max-height: 16rem; position: relative; top: 50%; left: 50%; transform: translate(-50%, -50%); perspective: 100vw; perspective-origin: 50% 50%; transform-style: preserve-3d; }
.cube-top-pane { width: 56%; height: 56%; left: 25%; top: 0%; transform: rotate(45deg) skew(165deg, 165deg); }
.cube-left-pane { width: 50%; height: 50%; left: 3%; top: 42.5%; transform: skew(180deg, 210deg); }
.cube-right-pane { width: 50%; height: 50%; left: 53%; top: 42.5%; transform: skew(180deg, 150deg); }
.pane { display: grid; grid-template-columns: repeat(3, 33%); grid-template-rows: repeat(3, 33%); position: absolute; background-color: white; }
.pane .cell { transition: all 0.1s ease-out; box-sizing: border-box; border: 1px solid whitesmoke; cursor: pointer; }
.pane .highlighted { background-color: var(--purple); }

/* Animations */
.wobble {
  animation: wobble 0.4s ease;
}
@keyframes wobble {
  from, to { transform: translate(-50%, -50%) rotateX(0deg); }
  25% { transform: translate(-50%, -40%) rotateX(20deg); }
  50% { transform: translate(-50%, -30%) rotateX(40deg); }
  75% { transform: translate(-50%, -40%) rotateX(20deg); }
}
.bounce-in {
  animation: bounce-in 1s ease;
}
@keyframes bounce-in {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(.3) rotate(0deg);
  }
  50% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.05) rotate(360deg);
  }
  70% { transform: translate(-50%, -50%) scale(.9) rotate(360deg); }
  100% { transform: translate(-50%, -50%) scale(1) rotate(360deg); }
}
.fade-in {
  animation: fade-in 1s ease;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fade-out {
  animation: fade-out 1s ease;
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}