body {
  padding: 20px;
  font-family: Helvetica;
  background-color: #f1f1f1;
}

ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  grid-gap: 10px;
  margin: 7.5%;
  margin-top: 0;
  list-style: none;
}

li {
  border-radius: 3px;
  padding: 10px;
  text-align: center;
}

.footer {
  display: inline-block;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: #fff;
}
