.container {
    display: grid;    
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 50px 350px 50px;
}

header {
    grid-column: span 8;
		display: flex;
}
upper-section {
    grid-column: span 8;
		display: flex;
}
main-section {
    grid-column: span 12;
		display: flex;
}
footer {
    grid-column: span 8;
		display: flex;
}
