---
layout: nav.njk
---

<div class="container">
    <h1>{{ listName }}</h1>
    {{ content | safe }}
    <ul id="blog-posts">
        {%- for post in collections.blogpost -%}
        <li><a href="{{ post.url }}">{{ post.data.title }}</a><span> - {{ post.date.toString() }}</span></li>
        {%- endfor -%}
    </ul>
</div>
