---
layout: nav.njk
---

<div class="container">
    <h1>{{ listName }}</h1>
    {{ content | safe }}
    <ul id="project-posts">
         {%- for project in collections.project -%}
        <li><a href="{{ project.url }}">{{ project.data.title }}</a><span> - {{ project.date.toString() }}</span></li>
        {%- endfor -%}
    </ul>
</div>