---
layout: nav.njk
---

<div class="container">
    <h1>{{ listName }}</h1>
    <ul>
        {%- for project in collections.project -%}
        <li><a href="{{ project.url }}">{{ project.data.title }}</a></li>
        {%- endfor -%}
    </ul>
    {{ content | safe }}
</div>
