main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main > .container {
    margin: 8rem auto;
}

main h1, main h2, main h3, main h4 {
    margin: 2rem 0 1rem;
}

main > .container > #banner {
    width: 100%;
    margin-bottom: 1rem;
} 